@charset "utf-8";
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600');

/* CSS Document */
body{
	margin:0px;
	padding: 0px;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background-color: #0e181a;	
}

*{
	box-sizing:border-box;
	scroll-behavior: smooth;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
#main{
	width:100%;
	height:15vh;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #0e181a;
}
.logo{
  font-family: "Montserrat", sans-serif;
  height:40px;
	line-height: 43px;
	display: flex;
	font-size: .8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#FFFFFF;
	letter-spacing: 1px;
}

nav ul{
	display: flex;
}
nav ul li a{
  font-family: "Montserrat", sans-serif;
  height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: .8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#FFFFFF;
	letter-spacing: 1px;
}

.hey{
  font-family: "Montserrat", sans-serif;
	color:#FFFFFF;
	font-weight: 500;
	font-size: .8rem;
	
}
.hey:hover{
	color: #0088a9;
}
 
nav ul li a:hover{
	color: #0088a9;
  
}
nav .menu-btn,
.menu-icon{
		display:none;
	}
@media(max-width:1140px){
	.content{
		width:100%;
	}
	.model{
		width:400px;
		height: 400px;
	}
	.main-text,.model{
		margin:10px;
	}
	.main-text h1{
		font-size:3rem;
	}
	.skill-img{
		width:400px;
		height: 400px;
	}
	.client-box{
		flex-grow:0.5;
	}
}
@media(max-width:900px){
.menu-icon{
display:block;}
	nav{
		justify-content: space-between;
		height: 65px;
		padding: 0px 30px;
	}
	.logo img{
		height:35px;
	}
	.menu{
		display:none;
		position:absolute;
		top:65px;
		left:0px;
		background-color:#0e181a;
		border-bottom:4px solid #0088a9;
		width:100%;
		padding:0px;
		margin:0px;
	}
	.menu li{
		width:100%;
	}
	nav .menu li a{
		width:100%;
		height:40px;
		justify-content: center;
		align-items: center;
		margin:0px;
		padding: 25px;
		border:1px solid #0e181a;
	}
	nav .menu-icon{
		cursor:pointer;
		float:right;
		padding:28px 20px;
		position:relative;
		user-select: none;
	}
	nav .menu-icon .nav-icon{
		background-color:#FFFFFF;
		display:block;
		height:2px;
		position:relative;
		transition: background 0.2s ease-out;
		width:18px;
	}
	nav .menu-icon .nav-icon:before,
	nav .menu-icon .nav-icon:after{
		background:#FFFFFF;
		content:'';
		display:block;
		height:100%;
		position:absolute;
		transition:all ease-out 0.2s;
		width:100%;
	}
	nav .menu-icon .nav-icon:before{
		top:5px;
	}
	nav .menu-icon .nav-icon:after{
		top:-5px;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon{
		background:transparent;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
		transform: rotate(-45deg);
		top:0;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
		transform: rotate(45deg);
		top:0;
	}
	nav .menu-btn{
		display:none;
	}
	nav .menu-btn:checked ~ .menu{
		display:block;
	}
	#skills{
		width:100%;
		justify-content: space-between;
		padding-left: 40px;
	}
	.skill-text{
		width:400px;
	}
	.skill-img{
		width:40%;
		height:300px;
	}
	.skill-img img{
		object-fit: cover;
		object-position: left;
	}
	.recent-heading h3,
	.client-heading h3,
	#contact h3{
		font-size:2.2rem;
		text-align:center;
	}
	.recent-heading{
		text-align:center;
		padding:0px 15px;
	}
	
}
@media(max-width:720px){
	.model{
		display:none;
	}
	.main-text{
		width:70%;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		
	}
	#contact img{
		height:200px;
	}
	footer{
		justify-content: center;
		padding:10px 20px;
	}
	footer p{
		text-align: center;
	}
	.recent-btn{
		margin:0px;
	}
}
@media(max-width:530px){
	.contact-input{
		width:90%;
	}
	.skill-img{
		display:none;
	}
	.skill-text{
		width:85%;
	}
	#skills{
		margin:0px;
	}
}nav .menu-btn,
.menu-icon{
		display:none;
	}
@media(max-width:1140px){
	.content{
		width:100%;
	}
	.model{
		width:400px;
		height: 400px;
	}
	.main-text,.model{
		margin:10px;
	}
	.main-text h1{
		font-size:3rem;
	}
	.skill-img{
		width:400px;
		height: 400px;
	}
	.client-box{
		flex-grow:0.5;
	}
}
@media(max-width:900px){
.menu-icon{
display:block;}
	nav{
		justify-content: space-between;
		height: 65px;
		padding: 0px 30px;
	}
	.logo img{
		height:35px;
	}
	.menu{
		display:none;
		position:absolute;
		top:65px;
		left:0px;
		background-color:#0e181a;
		border-bottom:4px solid #0088a9;
		width:100%;
		padding:0px;
		margin:0px;
	}
	.menu li{
		width:100%;
	}
	nav .menu li a{
		width:100%;
		height:40px;
		justify-content: center;
		align-items: center;
		margin:0px;
		padding: 25px;
		border:1px solid rgba(38,38,38,0.03);
	}
	nav .menu-icon{
		cursor:pointer;
		float:right;
		padding:28px 20px;
		position:relative;
		user-select: none;
	}
	nav .menu-icon .nav-icon{
		background-color:#FFFFFF;
		display:block;
		height:2px;
		position:relative;
		transition: background 0.2s ease-out;
		width:18px;
	}
	nav .menu-icon .nav-icon:before,
	nav .menu-icon .nav-icon:after{
		background:#FFFFFF;
		content:'';
		display:block;
		height:100%;
		position:absolute;
		transition:all ease-out 0.2s;
		width:100%;
	}
	nav .menu-icon .nav-icon:before{
		top:5px;
	}
	nav .menu-icon .nav-icon:after{
		top:-5px;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon{
		background:transparent;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
		transform: rotate(-45deg);
		top:0;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
		transform: rotate(45deg);
		top:0;
	}
	nav .menu-btn{
		display:none;
	}
	nav .menu-btn:checked ~ .menu{
		display:block;
	}
	#skills{
		width:100%;
		justify-content: space-between;
		padding-left: 40px;
	}
	.skill-text{
		width:400px;
	}
	.skill-img{
		width:40%;
		height:300px;
	}
	.skill-img img{
		object-fit: cover;
		object-position: left;
	}
	.recent-heading h3,
	.client-heading h3,
	#contact h3{
		font-size:2.2rem;
		text-align:center;
	}
	.recent-heading{
		text-align:center;
		padding:0px 15px;
	}
	
}
@media(max-width:720px){
	.model{
		display:none;
	}
	.main-text{
		width:70%;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		
	}
	#contact img{
		height:200px;
	}
	footer{
		justify-content: center;
		padding:10px 20px;
	}
	footer p{
		text-align: center;
	}
	.recent-btn{
		margin:0px;
	}
}
@media(max-width:530px){
	.contact-input{
		width:90%;
	}
	.skill-img{
		display:none;
	}
	.skill-text{
		width:85%;
	}
	#skills{
		margin:0px;
	}
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.container {
	max-width:1000px;
	width:100%;
	margin:0 auto;
	position:relative;
  
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
font-family:"Open Sans", Helvetica, Arial, sans-serif;
color: #0088a9;
display: block;
font-size: 22px;
font-weight: 400;
text-align: center;
}

#contact h4 {
font-family:"Open Sans", Helvetica, Arial, sans-serif;
margin:5px 0 15px;
display:block;
font-size:16px;
text-align: center;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0088a9;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#0088a9;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
.button_primary{
  color: #FFFFFF;
	padding: 9px 25px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.actions{
  padding: 0;
}