@charset "utf-8";
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600');

/* CSS Document */
body{
	margin:0px;
	padding: 0px;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color: #cccccc;
	background-color: #0e181a;
}

*{
	box-sizing:border-box;
	scroll-behavior: smooth;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
#main{
	width:100%;
	height:20vh;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 5px 30px rgba(0,0,0,0.02);
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	height:50px;
	z-index: 1;
	background-color: #0e181a;
}
.logo {
  	font-family: "Montserrat", sans-serif;
  	height:50px;
	line-height: 43px;
	display: flex;
	font-size: .8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#FFFFFF;
	letter-spacing: 1px;
}

.logo:hover{
	color: #0088a9;
	
}

nav ul{
	display: flex;
}
nav ul li a{
 	font-family: "Montserrat", sans-serif;
  	height: 50px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: .8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#FFFFFF;
	letter-spacing: 1px;
}

.hey{
  font-family: "Montserrat", sans-serif;
	color:#FFFFFF;
	font-weight: 500;
	font-size: .8rem;
	
}

.hey:hover{
	color: #0088a9;
}
 
nav ul li a:hover{
	color: #0088a9;
  
}
nav .menu-btn,
.menu-icon{
		display:none;
	}
@media(max-width:1140px){
	.content{
		width:100%;
	}
	.model{
		width:400px;
		height: 400px;
	}
	.main-text,.model{
		margin:10px;
	}
	.main-text h1{
		font-size:3rem;
	}
	.skill-img{
		width:400px;
		height: 400px;
	}
	.client-box{
		flex-grow:0.5;
	}
}
@media(max-width:900px){
.menu-icon{
display:block;}
	nav{
		justify-content: space-between;
		height: 65px;
		padding: 0px 30px;
	}
	.logo img{
		height:35px;
	}
	.menu{
		display:none;
		position:absolute;
		top:65px;
		left:0px;
		background-color:#FFFFFF;
		border-bottom:4px solid #0088a9;
		width:100%;
		padding:0px;
		margin:0px;
	}
	.menu li{
		width:100%;
	}
	nav .menu li a{
		width:100%;
		height:40px;
		justify-content: center;
		align-items: center;
		margin:0px;
		padding: 25px;
		border:1px solid #0088a9;
	}
	nav .menu-icon{
		cursor:pointer;
		float:right;
		padding:28px 20px;
		position:relative;
		user-select: none;
	}
	nav .menu-icon .nav-icon{
		background-color:#0088a9;
		display:block;
		height:2px;
		position:relative;
		transition: background 0.2s ease-out;
		width:18px;
	}
	nav .menu-icon .nav-icon:before,
	nav .menu-icon .nav-icon:after{
		background:#0088a9;
		content:'';
		display:block;
		height:100%;
		position:absolute;
		transition:all ease-out 0.2s;
		width:100%;
	}
	nav .menu-icon .nav-icon:before{
		top:5px;
	}
	nav .menu-icon .nav-icon:after{
		top:-5px;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon{
		background:transparent;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
		transform: rotate(-45deg);
		top:0;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
		transform: rotate(45deg);
		top:0;
	}
	nav .menu-btn{
		display:none;
	}
	nav .menu-btn:checked ~ .menu{
		display:block;
	}
	#skills{
		width:100%;
		justify-content: space-between;
		padding-left: 40px;
	}
	.skill-text{
		width:400px;
	}
	.skill-img{
		width:40%;
		height:300px;
	}
	.skill-img img{
		object-fit: cover;
		object-position: left;
	}
	.recent-heading h3,
	.client-heading h3,
	#contact h3{
		font-size:2.2rem;
		text-align:center;
	}
	.recent-heading{
		text-align:center;
		padding:0px 15px;
	}
	
}
@media(max-width:720px){
	.model{
		display:none;
	}
	.main-text{
		width:70%;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		
	}
	#contact img{
		height:200px;
	}
	footer{
		justify-content: center;
		padding:10px 20px;
	}
	footer p{
		text-align: center;
	}
	.recent-btn{
		margin:0px;
	}
}
@media(max-width:530px){
	.contact-input{
		width:90%;
	}
	.skill-img{
		display:none;
	}
	.skill-text{
		width:85%;
	}
	#skills{
		margin:0px;
	}
}nav .menu-btn,
.menu-icon{
		display:none;
	}
@media(max-width:1140px){
	.content{
		width:100%;
	}
	.model{
		width:400px;
		height: 400px;
	}
	.main-text,.model{
		margin:10px;
	}
	.main-text h1{
		font-size:3rem;
	}
	.skill-img{
		width:400px;
		height: 400px;
	}
	.client-box{
		flex-grow:0.5;
	}
}
@media(max-width:900px){
.menu-icon{
display:block;}
	nav{
		justify-content: space-between;
		height: 65px;
		padding: 0px 30px;
	}
	.logo img{
		height:35px;
	}
	.menu{
		display:none;
		position:absolute;
		top:65px;
		left:0px;
		background-color:#0e181a;
		border-bottom:4px solid #0088a9;
		width:100%;
		padding:0px;
		margin:0px;
	}
	.menu li{
		width:100%;
	}
	nav .menu li a{
		width:100%;
		height:40px;
		justify-content: center;
		align-items: center;
		margin:0px;
		padding: 25px;
		border:1px solid rgba(38,38,38,0.03);
	}
	nav .menu-icon{
		cursor:pointer;
		float:right;
		padding:28px 20px;
		position:relative;
		user-select: none;
	}
	nav .menu-icon .nav-icon{
		background-color:#FFFFFF;
		display:block;
		height:2px;
		position:relative;
		transition: background 0.2s ease-out;
		width:18px;
	}
	nav .menu-icon .nav-icon:before,
	nav .menu-icon .nav-icon:after{
		background:#FFFFFF;
		content:'';
		display:block;
		height:100%;
		position:absolute;
		transition:all ease-out 0.2s;
		width:100%;
	}
	nav .menu-icon .nav-icon:before{
		top:5px;
	}
	nav .menu-icon .nav-icon:after{
		top:-5px;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon{
		background:transparent;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
		transform: rotate(-45deg);
		top:0;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
		transform: rotate(45deg);
		top:0;
	}
	nav .menu-btn{
		display:none;
	}
	nav .menu-btn:checked ~ .menu{
		display:block;
	}
	#skills{
		width:100%;
		justify-content: space-between;
		padding-left: 40px;
	}
	.skill-text{
		width:400px;
	}
	.skill-img{
		width:40%;
		height:300px;
	}
	.skill-img img{
		object-fit: cover;
		object-position: left;
	}
	.recent-heading h3,
	.client-heading h3,
	#contact h3{
		font-size:2.2rem;
		text-align:center;
	}
	.recent-heading{
		text-align:center;
		padding:0px 15px;
	}
	
}
@media(max-width:720px){
	.model{
		display:none;
	}
	.main-text{
		width:70%;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		
	}
	#contact img{
		height:200px;
	}
	footer{
		justify-content: center;
		padding:10px 20px;
	}
	footer p{
		text-align: center;
	}
	.recent-btn{
		margin:0px;
	}
}
@media(max-width:530px){
	.contact-input{
		width:90%;
	}
	.skill-img{
		display:none;
	}
	.skill-text{
		width:85%;
	}
	#skills{
		margin:0px;
	}
}

h1{
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-weight:300;
  line-height:50px;
  text-align: center;
  position: relative;
  color: #ffffff;
}

@media screen and (min-width: 601px) {
	h1 {
	  font-size: 50px;
	}
  }
  
  @media screen and (max-width: 600px) {
	h1 {
	  font-size: 30px;
	}
  }

  h2{
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	line-height:50px;
	text-align: left;
	position: relative;
	left: 200px;
  }
  
  @media screen and (min-width: 601px) {
	  h2 {
		font-size: 40px;
	  }
	}
	
	@media screen and (max-width: 600px) {
	  h2 {
		font-size: 20px;
	  }
	}

p{
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-weight:300;
  line-height:50px;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 601px) {
	p {
	  font-size: 20px;
	}
  }
  
  @media screen and (max-width: 600px) {
	p {
	  font-size: 12px;
	}
  }

  .cbtn_container { 
	height: 17px;
	position: relative;
	
  }
  
  .button {
	margin: 0;
	position: absolute;
	top: -1350%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #0088a9;
  	border: none;
	border-radius: 12px;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
	display: inline-flex;
	font-size: 16px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
  	font-weight:300;
  }

  .threed-images {
	background-color: #0e181a;
	padding: 50 10px;
	float:right;
	width: 33.333%;
	height: 500px;
  }

  .gallery {
	border: 2px solid #FFFFFF;
  }
  
  .gallery:hover {
	border: 2px solid  #0088a9;
  }
  
  .gallery img {
	width: 100%;
	height: 45%;
  }
  
  .desc {
	padding: 15px;
	text-align: center;
  }

  @media only screen and (max-width: 700px) {
	.threed-images {
	  width: 49.99999%;
	  margin: 6px 0;
	  height: auto;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.threed-images {
	  width: 100%;
	  height: auto;
	}
  }

  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }

  .introduction{
	background-image: url("/images/backgroundwebsite.jpg");
	height: 600px;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
  }